.navigation {
   background-color: gray;
   text-align: left;
   margin: 0px;
}
.navigation ul {
    padding: 5px;
    margin: 3px;
    list-style-type: none;
}
.navigation ul li {
    display: inline;
}
.navigation ul li a {
    color: white;
}